<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome!</h1>
            <p>This service makes it easier for groups to track money owed to one another, whether from monthly bills, group events, or other miscellaneous spending.
                <br> <br>
                Register to create your own events, or feel free to sample the service with the following user. <br>
                Username: sample <br>
                Password: sample <br>
            </p>
        </div>
    </div>
</div>



