<div id="createExpense" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new expense</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="title">Title:</label>
                    <input ng-model="$parent.newExpense.title" type="text" class="form-control" id="title" placeholder="ex. Cable">
                </div>

                <div>
                    <label for="description">Description:</label>
                    <input ng-model="$parent.newExpense.description" type="text" class="form-control" id="description" placeholder="ex. Comcast Bill">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="$parent.createExpense($parent.newExpense)" data-dismiss="modal">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>