<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms: Registration Forms</h1>
        <ul class="nav nav-tabs">
            <li role="navigation"><a href="#/forms">Forms</a></li>
            <li role="navigation" class="active"><a href="#/fields">Fields</a></li>
        </ul>
        <div class="row container-fluid">
            <form ng-repeat="field in fields">
                <div class="form-group row">
                    <div class="form-fields  col-xs-6" ng-switch="field.type">
                        <div ng-switch-when="TEXT">
                            <label for="text" class="fields-label">{{field.label}}</label>
                            <div id="text">
                                <input type="text" class="form-control form-fields" placeholder="{{field.placeholder}}">
                                <div class="well" ng-show="editme">
                                    <label for="editTextLabel" class="fields-label ">Edit Label: </label>
                                    <input type="text" id="editTextLabel"  ng-model="label" class="form-control form-fields" placeholder="{{field.label}}">
                                    <label for="editTextPlaceholder" class="fields-label ">Edit Placeholder: </label>
                                    <input type="text" id="editTextPlaceholder"  ng-model="placeholder" class="form-control form-fields" placeholder="{{field.placeholder}}">
                                    <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, placeholder: placeholder, type:'TEXT'})"> OK </button>
                                    <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                                </div>
                            </div>
                        </div>

                        <div ng-switch-when="EMAIL">
                            <label for="email" class="fields-label">{{field.label}}</label>
                            <input type="email" id ="email" class="form-control form-fields" placeholder="{{field.placeholder}}">
                            <div class="well"z ng-show="editme">
                                <label for="editEmailLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editEmailLabel"  ng-model="label" class="form-control form-fields" placeholder="{{field.label}}">
                                <label for="editEmailPlaceholder" class="fields-label ">Edit Placeholder: </label>
                                <input type="text" id="editEmailPlaceholder"  ng-model="placeholder" class="form-control form-fields" placeholder="{{field.placeholder}}">
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, placeholder: placeholder, type:'EMAIL'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>

                        <div ng-switch-when="OPTIONS">
                            <label  class="fields-label">{{field.label}}</label>
                            <select class="form-control form-fields" id="options">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                            <div class="well" ng-show="editme">
                                <label for="editOptionsLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editOptionsLabel"  ng-model="label" class="form-control form-fields" placeholder="{{field.label}}">
                                <label for="editOptions" class="fields-label ">Edit Options: </label>
                                <textarea id="editOptions"  ng-model="options" class="form-control form-fields" placeholder="{{field.options[0].label}};{{field.options[0].value}}"></textarea>
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, options: options, type:'OPTIONS'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>

                        <div ng-switch-when="TEXTAREA">
                            <label for="textarea" class="fields-label">{{field.label}}</label>
                            <textarea class="form-control form-fields" id="textarea" placeholder="{{field.placeholder}}"></textarea>
                            <div class="well" ng-show="editme">
                                <label for="editTextAreaLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editTextAreaLabel"  ng-model="label" class="form-control form-fields" placeholder="Label Name">
                                <label for="editTextAreaPlaceholder" class="fields-label ">Edit Placeholder: </label>
                                <input type="text" id="editTextAreaPlaceholder"  ng-model="placeholder" class="form-control form-fields" placeholder="Placeholder">
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, placeholder: placeholder, type:'TEXTAREA'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>

                        <div ng-switch-when="DATE">
                            <label for="date" class="fields-label">{{field.label}}</label>
                            <input type="date" id="date" class="form-control form-fields" placeholder="mm/dd/yyyy">
                            <div class="well" ng-show="editme">
                                <label for="editDateLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editDateLabel"  ng-model="label" class="form-control form-fields" placeholder="Label Name">
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, type:'DATE'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>


                        <div ng-switch-when="CHECKBOXES">
                            <label for="checkbox" class="fields-label">{{field.label}}</label>
                            <div class="checkbox" ng-repeat="option in field.options">
                                <label id="checkbox">
                                    <input type="checkbox" for="checkbox" value={{option.value}}>
                                    {{option.label}}
                                </label>
                            </div>
                            <div class="well" ng-show="editme">
                                <label for="editCheckboxLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editCheckboxLabel"  ng-model="label" class="form-control form-fields" placeholder="{{field.label}}">
                                <label for="editChechboxOptions" class="fields-label ">Edit Options: </label>
                                <textarea id="editChechboxOptions"  ng-model="options" class="form-control form-fields" placeholder="Label;Value"></textarea>
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, options: options, type:'CHECKBOXES'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>

                        <div ng-switch-when="RADIOS">
                            <label for="radio" class="fields-label">{{field.label}}</label>
                            <div class="radio" id="radio" ng-repeat="option in field.options">
                                <label>
                                    <input type="radio" value="{{option.value}}">
                                    {{option.label}}
                                </label>
                            </div>
                            <div class="well" ng-show="editme">
                                <label for="editRadioLabel" class="fields-label ">Edit Label: </label>
                                <input type="text" id="editRadioLabel"  ng-model="label" class="form-control form-fields" placeholder="{{field.label}}">
                                <label for="editRadioOptions" class="fields-label ">Edit Options: </label>
                                <textarea id="editRadioOptions"  ng-model="options" class="form-control form-fields" placeholder="Label;Value"></textarea>
                                <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, options: options, type:'RADIOS'})"> OK </button>
                                <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                            </div>
                        </div>
                    </div>

                    <div class="edit-links form-fields col-xs-6 ">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" ng-click="editme=true" aria-hidden="true"></span>
                        </button>
                        <button href="#" class="btn btn-default ">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button href="#" class="btn btn-default ">
                            <span class="glyphicon glyphicon-remove" ng-click="removeField(field)" aria-hidden="true"></span>
                        </button>
                        <button href="#" class="btn btn-default ">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>

                <div class="row" >
                    <form>
                        <div class="form-group col-xs-12">
                            <label class="fields-label" for="addNew">Add New Field:</label>

                            <div id="addNew" class="form-fields col-xs-6">
                                <select  class="form-control form-fields" ng-model="model.fieldType">
                                    <option>Single Line Text Field</option>
                                    <option>Multi Line Text Field</option>
                                    <option>Date Field</option>
                                    <option>Dropdown Field</option>
                                    <option>Checkboxes Field</option>
                                    <option>Radio Buttons Field</option>
                                </select>
                            </div>

                            <div class="edit-links form-fields col-xs-6">
                                <button class="btn btn-default ">
                                    <span  ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>