<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="col-xs-12"ng-repeat="field in fields">
        <div class="form-group col-xs-6">
            <div class="form-fields" ng-switch="field.type">
                <div ng-switch-when="TEXT">
                    <label for="text" class="fields-label ">{{field.label}}</label>
                    <input type="text" id ="text" class="form-control form-fields" placeholder="{{field.placeholder}}">
                    <div class="well" ng-show="editme">
                        <label for="editTextLabel" class="fields-label ">Edit Label: </label>
                        <input type="text" id="editTextLabel"  ng-model="label" class="form-control form-fields" placeholder="Label Name">
                        <label for="editTextPlaceholder" class="fields-label ">Edit Placeholder: </label>
                        <input type="text" id="editTextPlaceholder"  ng-model="placeholder" class="form-control form-fields" placeholder="Placeholder">
                        <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, placeholder: placeholder})"> OK </button>
                        <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                    </div>
                </div>

                <div ng-switch-when="EMAIL">
                    <label for="email" class="fields-label">{{field.label}}</label>
                    <input type="email" id ="email" class="form-control form-fields" placeholder="{{field.placeholder}}">
                </div>

                <div ng-switch-when="OPTIONS">
                    <label  class="fields-label">{{field.label}}</label>
                    <select class="form-control form-fields" id="options">
                        <option ng-repeat="option in field.options">{{option.label}}</option>
                    </select>
                </div>

                <div ng-switch-when="TEXTAREA">
                    <label for="textarea" class="fields-label">{{field.label}}</label>
                    <textarea class="form-control form-fields" id="textarea" placeholder="{{field.placeholder}}"></textarea>
                    <div class="well" ng-show="editme">
                        <label for="editTextAreaLabel" class="fields-label ">Edit Label: </label>
                        <input type="text" id="editTextAreaLabel"  ng-model="label" class="form-control form-fields" placeholder="Label Name">
                        <label for="editTextAreaPlaceholder" class="fields-label ">Edit Placeholder: </label>
                        <input type="text" id="editTextAreaPlaceholder"  ng-model="placeholder" class="form-control form-fields" placeholder="Placeholder">
                        <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label, placeholder: placeholder})"> OK </button>
                        <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                    </div>
                </div>

                <div ng-switch-when="DATE">
                    <label for="date" class="fields-label">{{field.label}}</label>
                    <input type="date" id="date" class="form-control form-fields" placeholder="mm/dd/yyyy">
                    <div class="well" ng-show="editme">
                        <label for="editDateLabel" class="fields-label ">Edit Label: </label>
                        <input type="text" id="editDateLabel"  ng-model="label" class="form-control form-fields" placeholder="Label Name">
                        <button type="button" class="btn btn-default" ng-click="updateField(field, {label: label})"> OK </button>
                        <button type="button" class="btn btn-default" ng-click="editme=false"> CANCEL </button>
                    </div>
                </div>

                <div ng-switch-when="CHECKBOXES">
                    <label for="checkbox" class="fields-label">{{field.label}}</label>
                    <label class="checkbox" id="checkbox">
                        <input  ng-repeat="option in field.options" type="checkbox" value="{{option.value}}">
                        {{option.label}}
                    </label>
                </div>

                <div ng-switch-when="RADIOS">
                    <label for="radio" class="fields-label">{{field.label}}</label>
                    <div class="radio" id="radio">
                        <label>
                            <input ng-repeat="option in field.options" type="radio" value="{{option.value}}">
                            {{option.label}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="edit-links form-fields col-xs-6 ">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" ng-click="editme=true" aria-hidden="true"></span>
            </button>
            <button href="#" class="btn btn-default ">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button href="#" class="btn btn-default ">
                <span class="glyphicon glyphicon-remove" ng-click="removeField(field)" aria-hidden="true"></span>
            </button>
            <button href="#" class="btn btn-default ">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
        </div>
        <br><br>
    </form>
            <br><br><br><br>
            <form>
                <div class="form-group">
                    <label class="fields-label" for="addNew">Add New Field:</label>

                    <div class="form-fields col-xs-6">
                        <select id="addNew" class="form-control form-fields" ng-model="model.fieldType">
                            <option>Single Line Text Field</option>
                            <option>Multi Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkboxes Field</option>
                            <option>Radio Buttons Field</option>
                        </select>
                    </div>

                    <div class="edit-links form-fields col-xs-6">
                        <button class="btn btn-default ">
                            <span  ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
