<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{event.title}}</h1>
        <br>
        <button class="btn btn-default" data-toggle="modal" data-target="#createExpense">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new expenses
        </button>
        <div class="well" ng-repeat="e in expenses track by $index">
            <div class="progress">
                <div id='progressbar' class="progress-bar pull-right" role="progressbar" style="width: {{e.amountPaid}}%;">
                </div>
                <label class = "pull-right" for="progressbar">${{e.amountPaid}}/{{e.amountOwed}}</label>
            </div>

            <h4>{{e.title}}</h4>
            <p> {{e.description}} </p>
            <p> Pay to:
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{e.payeeUsername}}
                </button>
            </p>
            <div ng-show="!e.paymentsRequested">
                <p> Send payment request(s) to:
                    <button class="btn btn-default" ng-repeat="request in e.paymentRequests track by $index" >
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{request.payerUsername}}
                    </button>
                    <button class="btn btn-info" ng-click="selectExpense(e)" data-toggle="modal" data-target="#addPaymentRequest">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </p>
                <button class="btn btn-warning" ng-click="requestPayments(e)">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true">Request Payments</span>
                </button>

            </div>

            <div ng-show="e.paymentsRequested">
                <p> Payment(s) completed by:
                    <div ng-repeat="request in e.paymentRequests track by $index" >
                        <button ng-show="request.paymentCompleted" class="btn btn-default">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{request.payerUsername}}
                        </button>
                    </div>
                </p>

                <p> Payment(s) pending from:
                <div ng-repeat="request in e.paymentRequests track by $index" >
                    <button ng-show="!request.paymentCompleted" class="btn btn-default" >
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{request.payerUsername}}
                    </button>
                </div>
                </p>
            </div>

            <div ng-show="e.message" class="alert alert-success" role="alert">{{e.message}}</div>
        </div>
    </div>
</div>


<div ng-include src="'views/expenses/expenses_new.view.html'"></div>
<div ng-include src="'views/payment/payment_new.view.html'"></div>

