<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">My Events</h1>
        <ul class="nav nav-tabs">
            <li role="navigation" class="active"><a href="#/events">Live</a></li>
            <li role="navigation"><a href="#/events">Draft</a></li>
            <li role="navigation"><a href="#/events">Past</a></li>
        </ul>
        <br>
        <button class="btn btn-default" data-toggle="modal" data-target="#createEvent">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new events
        </button>
        <!--div class="well" ng-repeat="e in events">
            <a href="#/events/{{e._id}}"> {{e.title}} </a>
        </div-->
        <div class="well" ng-repeat="e in events">
            <h4>{{e.title}}</h4>
            <p>{{e.description}}</p>
            <br>
            <button ng-click="go('/events/' + e._id)" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage
            </button>
        </div>
    </div>
</div>

<div ng-include src="'views/events/events_new.view.html'"></div>