<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{event.title}}</h1>
        <br>
        <button class="btn btn-default" data-toggle="modal" data-target="#createExpense">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new expenses
        </button>
        <div class="well" ng-repeat="e in expenses track by $index">
            <h4>{{e.title}}</h4>
            <p> {{e.description}} </p>
            <p> Pay to:
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{e.payeeUsername}}
                </button>
            </p>
            <p> Payment(s) pending from:
                <button class="btn btn-default" ng-repeat="user in e.paymentRequestUsers" >
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}
                </button>
                <button class="btn btn-info" ng-click="selectExpense(e)" data-toggle="modal" data-target="#addPaymentRequest">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </p>

        </div>
    </div>
</div>


<div ng-include src="'views/expenses/expenses_new.view.html'"></div>
<div ng-include src="'views/payment/payment_new.view.html'"></div>

