<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Payment Requests</h1>
        <div class="row well" ng-repeat="p in paymentRequests">
            <h3 class="page-header">{{p.eventTitle}} > {{p.expenseTitle}}</h3>
            <div class="col-sm-12 ">
                <p>Pay To:
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{p.payTo}}
                </button>
                </p>
                <p>Amount Owed: ${{p.amountOwed}}</p>
                <button ng-show="!p.paymentCompleted" class="pull-right btn btn-warning" ng-click="completePayments(p)">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true">Complete Payments</span>
                </button>
                <div ng-show="p.message" class="alert alert-success" role="alert">{{p.message}}</div>
            </div>
        </div>
    </div>
</div>

