<div ng-controller="SidebarController" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.url()=='/home'}"
            ng-hide="currentUser">
            <a href="#/home">
                Home
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/testing_users'}"
            ng-hide="currentUser">
            <a href="#/testing_users">
                CRUD Users
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/testing_events'}"
            ng-hide="currentUser">
            <a href="#/testing_events">
                CRUD Events
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/testing_expenses'}"
            ng-hide="currentUser">
            <a href="#/testing_expenses">
                CRUD Expenses
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/testing_alerts'}"
            ng-hide="currentUser">
            <a href="#/testing_alerts">
                CRUD Alerts
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/testing_payment'}"
            ng-hide="currentUser">
            <a href="#/testing_payment">
                CRUD Payments
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/overview'}"
            ng-show="currentUser">
            <a href="#/overview">
                Overview
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/alerts'}"
            ng-show="currentUser">
            <a href="#/alerts">
                Alerts
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/events'}"
            ng-show="currentUser">
            <a href="#/events">
                My Events
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/payments'}"
            ng-show="currentUser">
            <a href="#/payments">
                Pending Payments
            </a>
        </li>
    </ul>
</div>
